In [ ]:
import pandas as pd
import numpy as np

# Creating the first dataframe with car make, model, and variant
data1 = {
    'Make': ['Toyota', 'Honda', 'Ford', 'Chevrolet', 'Nissan', 'BMW', 'Audi', 'Mercedes', 'Volkswagen', 'Hyundai',
             'Kia', 'Volvo', 'Lexus', 'Mazda', 'Subaru', 'Jeep', 'Tesla', 'Jaguar', 'Land Rover', 'Mitsubishi',
             'Peugeot', 'Renault', 'Fiat', 'Chrysler', 'Porsche', 'Mini', 'Suzuki', 'Dodge', 'Acura', 'Infiniti'],
    'Model': ['Camry', 'Civic', 'Focus', 'Cruze', 'Sentra', '3 Series', 'A4', 'C-Class', 'Golf', 'Elantra', 'Soul',
              'S60', 'IS', 'CX-5', 'Impreza', 'Wrangler', 'Model S', 'XF', 'Range Rover', 'Outlander', '308', 'Clio',
              '500', '300', '911', 'Cooper', 'Swift', 'Challenger', 'MDX', 'Q50'],
    'Variant': ['SE', 'EX', 'Titanium', 'LT', 'SV', '330i', 'Premium', 'AMG', 'Trendline', 'GLS', 'GT-Line', 'R-Design',
                'Luxury', 'Sport', 'Limited', 'Rubicon', 'Long Range', 'S', 'Autobiography', 'GLS', 'Allure', 'RS',
                'Lounge', 'Limited', 'Turbo', 'S', 'GLX', 'SXT', 'Technology', 'Essential']
}
df1 = pd.DataFrame(data1)

In [ ]:
df1

In [ ]:
# Creating the second dataframe with mileage, engine CC, and horsepower
data2 = {
    'Mileage': [10000, 20000, np.nan, 40000, 50000, 60000, 35000, 42000, 15000, 30000,
                45000, np.nan, 25000, 28000, 38000, 5000, 32000, np.nan, 27000, 38000,
                42000, 20000, 18000, np.nan, 23000, 29000, 22000, 34000, np.nan, 26000],
    'EngineCC': [2000, 1800, 2500, 1500, np.nan, 3000, 2000, 2500, 1800, np.nan,
                 1600, 2000, 2500, 2200, 2800, np.nan, 3000, 1900, 2200, 1800,
                 1600, np.nan, 1400, 3000, 2500, 1800, 1500, 2000, 1600, 2200],
    'Horsepower': [180, 150, 200, np.nan, 190, 250, 170, 210, 140, 180,
                   np.nan, 190, 220, 200, np.nan, 300, 210, 160, 180, 190,
                   np.nan, 150, 135, 220, 200, 160, 180, 190, np.nan, 205]
}
df2 = pd.DataFrame(data2)

In [ ]:
df2

In [ ]:
# Merge both dataframes using "concat" function
merged_df = pd.concat([df1, df2], axis=1)

In [ ]:
merged_df

In [ ]:
#Finding out the sum of duplicates in the merged dataframe
len(merged_df)-len(merged_df.drop_duplicates())

In [ ]:
#Finding out the sum of total null values
merged_df.isna().sum()

In [ ]:
#Filling all the null values by "mean"
merged_df['Mileage'].fillna(merged_df['Mileage'].mean(), inplace=True)  # Fill missing mileage values with mean
merged_df['EngineCC'].fillna(merged_df['EngineCC'].mean(), inplace=True)  # Fill missing EngineCC values with median
merged_df['Horsepower'].fillna(merged_df['Horsepower'].mean(), inplace=True)  # Fill missing Horsepower values with mode

In [ ]:
#Another method, where we can simply drop the null columns
merged_df.dropna(inplace=True)
merged_df.reset_index(inplace=True)

In [ ]:
merged_df

In [ ]:
#Maximum value in merged dataframe
merged_df.max()

In [ ]:
#Minimum value in merged dataframe
merged_df.min()

In [ ]:
hist = merged_df.plot.hist(x='Model', y='Mileage', bins=10, color='blue', alpha=0.7)
hist.set_xlabel('Model')
hist.set_ylabel('Model')